aenum==2.2.4
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
construct==2.8.8
DateTime==4.3
ExifRead==2.1.2
GDAL==2.2.4
gpxpy==0.9.8
idna==2.7
mapillary-tools==0.5.3
piexif===1.0.13m
Pillow==2.9.0
py==1.9.0
pymp4==1.1.0
pynmea2==1.12.0
pytest==3.2.3
python-dateutil==2.7.3
pytz==2020.1
requests==2.20.0
six==1.15.0
tqdm==2.2.4
urllib3==1.24.3
zope.interface==5.1.2
